*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient( hsl(217, 28%, 15%) 40%, hsl(218, 28%, 13%) 60%);
 
    color: hsl(0, 0%, 100%);
   font-size: 14px;
    font-family: 'Open Sans';
}

a{
    text-decoration: none;
    color:white;
    padding-right:30px;
}

nav{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right:50px;
    margin-top:9px;
    font-family: 'Raleway';
}

.item{
    padding:20px;
}

.flyo-logo{
    position:relative;
    top:60px;
    left:80px;
    height:40px;
}

.img-header{
    height: 450px;
}

.container{
    margin: auto 30%;
    padding-top:70px;
}

.header{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.btn{
    width:220px;
    height:40px;
    background:linear-gradient(0deg, hsl(198, 60%, 50%),hsl(176, 68%, 64%));
    border-radius: 20px;
    color: white;
    border-style:none;

}

.grid-container{
    width: 400px;
    margin-top: 100px;
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 250px 250px;
    font-weight: 400;
    font-size: 10px;
    grid-column-gap: 110px;
    justify-content: center;
    text-align: center;
    transform: translate(20%,0%);
}



.img-item{
    height:50px;
}
footer{
    background-color: hsl(216, 53%, 9%);
    height:300px;
}